.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  font-size: 4em;
  font-family: BebasNeueBold;
}

.App-intro {
  margin-top: .5em;
  font-size: 4em;
  font-family: 'BebasNeue', Fallback, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: BebasNeue;
  src: url("https://d1fsi47in3678q.cloudfront.net/fonts/BebasNeue-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: BebasNeueBold;
  src: url("https://d1fsi47in3678q.cloudfront.net/fonts/BebasNeue-Bold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: proxima-nova;
  src: url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2") format("opentype");
  font-style: thin;
  font-weight: 200;
}